body {
    width: 50%;
    margin: 2em auto;
    min-width: 40em;
}

ul.simple, ul.bar {
    list-style-type: none;
    padding: 0
}

.posttitle {
    font-weight: bold;
}

.postinfo {
    padding-left: 10px;
}

.postnumber {
    vertical-align: bottom;
    text-align: right;
    font-weight: bold;
    padding-right: 10px;
    border-right: 2px solid black;
}

.sitedescr {
    color: #666;
    font-family: sans-serif;
    font-size: 100%;
    font-weight: bold;
    margin-top: -0.5em;
    padding-bottom: 1em;
}

h5.post_date {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

div.tag_list {
    margin-bottom: 2em;
    font-size: 12px;
}

a {
    color: #a02020;
    text-decoration: none;
}

a:hover {
    color: #ff0000;
    // Possible alternative.
    // color: #ffffff;
    // background-color: #ff5050;
}

li.tagged_post {
    margin-top: 0em;
    margin-bottom: 2em;
}

/** Github code styling **/

pre {
    border: 1px solid #CACACA;
    line-height: 1.2em;
    font: "Monaco", "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Monospace";
    padding: 1em;
    overflow: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #FAFAFB;
    color: #393939;
    margin: 1.5em 0;
    overflow-x: auto;
    white-space: pre;
}

pre code, p code {
    margin-bottom: 0;
}

p code, h1 code, h2 code, h3 code, h4 code, h5 code, h6 code, li code {
    font: "Monaco", "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Monospace";
    color: #32393D;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #CCC;
    background-color: #F9F9F9;
    padding: 0 0.25em;
    display: inline-block;
}

h2, h3, h4, h5, h6 {
    font-family: Sans-Serif;
    margin-bottom: -0.25em;
}

blockquote {
    border: dashed 1px #BFB793;
    background: #FFFEFB;
    padding: 0.5em 0.5em;
    margin: 1em 0em;
}

blockquote p {
    margin: 0;
}
